body {
    background-color: #E4E0E1;
    font-family: Public Sans;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    margin-top: 200px;
}

h1 {
    font-weight: 350;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 108px;
    margin-top: 50px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-items: space-around;
    
    margin-top: 80px;
    padding-top: 50px;
}

.box {
    container: inherit;
    border: 1px groove #AB886D;
    border-radius: 10px;
    padding: 0.5rem;
}